#currentOverlay 
{
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.selectableTimeSlot:hover
{
    background-color: blueviolet;
}

.selectableTimeSlot:active
{
    background-color: rgb(202, 37, 202);
}

#bookingInfo
{
    background-color: black;
}

#statusModal .modal-header
{
	background-color: green;
}

#statusModal .modal-footer
{
	background-color: green;
}

#statusModal .modal-content
{
	box-shadow: 1px 0px 15px 0px black;
}

#statusModal
{
	width: 400px;
 
    position: absolute;
    left: 47%;
    top: 20%; 
    margin-left: -150px;
    margin-top: -150px;
    
}

#currentOverlay h2{
	padding: 30px;
}

#timeSlots p{
	font-size: 18px;
	color: black;
}

#timeSlots{
	margin: 3%; 

	position: relative;
	background-color: lightblue;
	border-radius: 10px;
	display: block;
	float: left;
	width: 27%;

}

#timeSlots:hover{
	box-shadow: 0px 0px 15px 0px gray;

}

#dateButton .btn{
	padding: 0px;
}