/*class*/
.active{
	color: white;
}

#logoContainer{
	opacity: 0.8;
	position: relative;
 
	padding: 9px;
	margin-top: 15px;

	display: inline-block;


}

@font-face {
  font-family: Anton;
  src: url(fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: Abel;
  src: url(fonts/Abel/Abel-Regular.ttf);
}

#centerLogs{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: center;
	margin-top: 100px;
}

#centerLogs textarea{
	height: 60vh;
	width: 60vw;
	border: 2px solid black;
}

#logoWords{
	font-family: Arial;
	position: absolute;
	left: 3px;
	top: 60px;
	color: white;
	font-size: 50px;
	text-shadow: 0 0 8px #888888, 0 0 9px #222222;

}

#selectTime, #selectDay{
	width: 200px;
}
.renderButton {
	position: relative;
	text-align: center;
}

.section{
	max-width: 1240px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 2%;
	padding-left: 2%;
	padding-bottom: 2%;
}

.outputModule{
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.nav-link {
	color: blue;
	position: relative;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0px;
	font-family: Abel;
	font-size: 20px;

}

#containInfoRight button{
	width: 200px;
}

#recordPage{
	font-family: Abel;
	width: 200px;
}

#profileFrame:hover{


	
	z-index: inherit;

	text-decoration: white;
	position: relative;


}

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: white url('../css/images/Loading_2.gif') no-repeat center;
	z-index: 999;
}

#noSubmitButton {
	position: relative;
	margin: 0px auto;
	text-align: center;
}


#renderpage{
	margin-top: 10px;
	font-family: Abel;
	width: 200px;
}

.nav-link1 {
	color: white;
}

.nav-link1:hover {
	color: lightblue;
	text-decoration: none;
}

.profile {
	position: relative;
	margin: 0px auto;
	text-align: center;
	margin-top: 10px;

}

#selectedProcedure {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 7px;
	padding-left: 7px;
}

#btnCommonBooking {
	margin: 20px;
}

.selectDocotor{
	margin-left: 30px;
	width: 200px;
	height: 300px;
	position: flex;
	margin: 0 auto;
	border-radius: 10px;
	background-color: lightblue;
}

.moveSideBar {
  transform: translateX(-240px);
}


.container{
	text-align: center;
	transition: 0.8s;
}

#signupInputFildContrainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.conatinerHome{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	display: block;
	background-color: #003366;
	text-align: center;
	width: 45%;
	margin-top:150px;
	border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	min-width: 405px;
	max-width: 405px;
	transition: 0.8s;
	box-shadow: 1px 0px 15px 0px black;
}

.conatinerHomeMain{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	display: block;
	background-color: #003366;
	text-align: center;
	margin-left: 140px;
	margin-right: 140px;
	margin-top:70px;
	min-width: 240px;
	border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: 0.8s;
	box-shadow: 1px 0px 15px 0px black;
}

.conatinerRegPatMain {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	display: block;
	background-color: #003366;
	text-align: center;
	margin-top:70px;
	margin-left: 7px;
	margin-right: 7px;
	border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 1px 0px 15px 0px black;
	padding-left: 7px;
	padding-right: 7px;
}

.form-control{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: 350px;
	min-width: 200px;

}

.moveContainerHome {
	transform: translateX(-60px);
}

.change{
	position: relative;
	margin: 0 auto;
}



.consultaionBody {
	position: relative;
	margin-top: 60px;
}

.infoContainer {
	display: grid;
    grid-template-columns: 4fr 9fr;
    grid-template-rows: 1fr;
    height: 300px;
    margin: 10px;
    transition: 0.5s;
}

.infoContainerResize {
	height: 110px;
}

.consultationInfo {
	background-color: white;
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-left: 7%;
	margin-right: 3%;
	border-radius: 10px;
	box-shadow: 1px 0px 15px 0px black;
	transition: 1s;
}

.pateientsInfo {
	background-color: white;
	position: relative;
	text-align: center;
	margin: 0 auto;
	margin-left: 5%;
	margin-right: 5%;
	border-radius: 10px;
	box-shadow: 1px 0px 15px 0px black;
	transition: 1s;
}

.doctorsNotes {
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 3%;
	margin-right: 4%;
	padding: 15px 20px 20px 20px;
	padding-bottom: 15px;
	background-color: #003366;
	border-radius: 5px;
	min-width: 420px;
	max-height: 400px;
	box-shadow: 1px 0px 15px 0px black;
}

#qrCodeImage {
	background-color: white;
	padding: 20px;
	border-radius: 35px;
	width: 150px;
	transition: 0.1s;
}

#qrCodeImage:hover {
	box-shadow: 1px 0px 15px 0px lightgray;
}

#saveDoctorNote {
	color: white;
}

#centerSearchBox
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

#sideBarLabel {
	background-color: white;
	border-radius: 10px;
	width: 90px;

	font-size: 20px;
	text-align: center;
}


#bodyContainer{
	position: relative;

	margin-left: auto;
	margin-right: auto;
	width: 60%;

	transition: 0.8s;
}

.bodyContainerIncreaseWidth {
	transform: translateX(-120px);
}

#recordButtonsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#liveVideoStream {
	transition: 1s;
}

.liveVideoStreamScale {
	transform: translateY(-190px) scale(0.3, 0.3);
}

#capturedVideoStream {
	transition: 1s;
}

.capturedVideoStreamScale {
	transform: translateY(-370px);
}

#saveDoctorNote:hover {
	background-color: white;
	color: #003366;
}

.conInfoTimeCenter {
	position: relative;
	text-align: center;
	margin: 0 auto;
	transform: translate(-5px, -10px);
	font-size: 35px;
}

.conInfoTimeCenterMessage {
	position: relative;
	text-align: center;
	margin: 0 auto;
	transform: translateX(0px);
}

#outputModule1 {
	background-color: lightgray;
	padding: 10px;
	margin-left: 100px;
	margin-right: 100px;
	border-radius: 20px;
}

#renderContainer {
	padding: 10px 20px 20px 20px;
	background-color: #003366;
	margin-left: 50px;
	margin-right: 50px;
	border-radius: 10px;
	box-shadow: 1px 0px 15px 0px black;
}

#renderHeader {
	background-color: #d9534f;
	color: black;
	height: 60px;
	margin-top: -10px;
	margin-left: -20px;
	margin-right: -20px;
	padding-top: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.renderCenter {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.arrow {
	border-radius: 20px;
	width: 30px;
	height: 30px;
	transition: 0.5s;
	background-color: white;
}

.arrow:hover {
	cursor: pointer;
}

.arrowRotate {
	transform: rotate(180deg);
}

#arrowConInfo {
	float: right;
}

#arrowPatInfo {
	float: right;
}

.arrowSideBody {
	position: relative;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	transition: 0.5s;
	background-color: white;
	float: right;
	transform: translate(-10px, 10px) rotate(270deg);
}

.arrowSideBody:hover {
	cursor: pointer;
}

.arrowSideBarTransform:hover {
	cursor: pointer;
}

.arrowSideBarTransform {
	position: relative;
	border-radius: 20px;
	width: 30px;
	height: 30px;
	transition: 0.5s;
	background-color: white;
	float: right;
	transform: translate(50px, 10px) rotate(90deg);
}

#sideBarLabel:hover {
	opacity: 0.7;
	cursor: pointer;
}

#arrowSideBody:hover{
	box-shadow: 1px 0px 15px 0px lightgray;
}

.abv-txt {
	color: white;
  	width: 150px;
  	max-width: 150px;
}


#consultationInner {
	position: relative;
	text-align: left;
	margin-left: 10px;
}

.patientInfoInner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: black;
	position: relative;
	min-width: 150px;
	text-align: left;
	padding-left: 10px;
}

.patientInfoInnerMessage {
	color: black;
	position: relative;
	text-align: left;
	margin-left: 10px;
}


/*elements*/
body{
	background-color: #333333;
	/*background-image: url("../css/images/doodle(OO).jpg");
	background-size:auto;
	background-attachment: scroll;*/
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;

}

textarea{
	width: 235px;
	padding: 5px;
	border: none;
}

h2 {
	color: white;
	letter-spacing: 2px;
	font-family: Anton;
}

h3 {
	color: white;
	letter-spacing: 2px;
	font-family: Anton;
}

nav{
	z-index: 2;
	background-color: #003366;
	margin-left: auto;
	margin-right: auto;

}
ul{
	position: inherit;
	margin-left: auto;
	margin-right: auto;

}

a:hover {
	cursor: pointer;

}

p {
	color: white;
	font-family: Abel;
}

span{
	color: white;
	text-decoration: bold;
	font-size: 20px;
	font-family: Abel;
}

hr{
	background-color: lightgray;
}

#form {
	text-align: center;
	background-color: #003366;
	position: relative;
	height: 60%;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	max-width: 1240px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom: solid 20px lightblue;
}

image {
	width: 2em;
	height: 2em;
}

table {

	border-top: solid 3px #003366;
	text-align: center;
}

select{
	margin: 0 auto;
	text-align: center;
}

thead{
	background-color: #003366;
	right: 0;
}


th{
	color: white;
}

td{

	padding: 0px;
	color: black;
	background-color: white;
}

h1 {
	position: relative;
	text-align: center;
	margin: 0px auto;
	color: black;
	letter-spacing: 2px;
	font-family: Anton;
}

#patientFormSignup input {
	max-width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}

#patientFormSignup select {
	max-width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}

input.btn{
	font-family: Abel;
}

#rightSideBody input.btn{
	transform: translateY(-20px);
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: Abel;
}

label{
	font-family: Abel;
	font-size: 26px;
}

#qrCode{
	padding: 30px;
	color: white;
}

/*IDs*/
#doctorFormSignup{
	background-color: #003366;
	border-radius: 5px;
}

#bookingBackground{
	display: grid;
	margin-right: 220px;
	margin-left: 260px;
}

#centerBookingOverlay{
	text-align: center;
	padding-top: 50px;
}

#bookingBody {
	transition: 0.8s;
	margin-right: 40px;
}

.bookingBodyInceaseWidth {
	transform: translateX(-120px);
}

#bookingInfo{
	transform: translateY(-35px);
	background-color: #003366;
	position: fixed;
	top: 270px;
	width: 240px;
	padding: 20px;

}

#notifyContainer{
	margin-top: 70px;
}

#containInfoRight{
	padding: 20px;

}

#buttonSchedule{
	right: 0px;
	top: 0;
	bottom: 0px;
	width: 200px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: absolute;
}

#buttonSchedule:active{
	opacity: 0.7;

}

#displayNote{
	font-family: Abel;
}

button.btn{
	font-family: Abel;
}

.notify{
	width: 50%;
	min-width: 300px;
	height: 60px;
	position: relative;
	background-color: lightgray;
	list-style-type: none;
	padding-left: 220px;
	padding-top: 15px;
	box-shadow: 0px 0px 5px 0px black;
	color: black;
	margin-top: 20px;
	border-radius: 5px;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}

.notify:hover{
	background-color: lightgreen;
	box-shadow: 0px 0px 5px 0px black;
	color: black;
	transform: translate(5em,0);
	-webkit-transform: translate(5em,0);
	-moz-transform: translate(5em,0);
	-o-transform: translate(5em,0);
	-ms-transform: translate(5em,0);
}

.notifyFixed {
	background-color: lightgreen;
	box-shadow: 0px 0px 5px 0px black;
	color: black;
	transform: translate(5em,0);
	-webkit-transform: translate(5em,0);
	-moz-transform: translate(5em,0);
	-o-transform: translate(5em,0);
	-ms-transform: translate(5em,0);
}

#notify:active {
	background-color: lightgreen;
}

#header{
	width: 100%;
	position: absolute;
	line-height: 50px;
	background-color: white;
	box-shadow: 1px 0px 15px 0px lightgray;
}

#headerTitle{
	text-align: center;
	color: black;
	margin: auto;
	font-size: 26px;
}

#headerRegPatTitle{
	text-align: center;
	color: black;
	margin: auto;
	font-size: 150%;
}

/*.containerRight {
	justify-content: space-around;
	align-items: flex-start;


	position: -webkit-sticky;
	position: sticky;
	bottom: 1rem;
}*/

#rightSideBody
{
	position: fixed;
	right: 0px;
	top: 0;
	height: 100%;
	background-color: white;
	box-shadow: 1px 0px 15px 0px black;
	transition: 1s;
	width: 240px;
	bottom: 0;
}

.noteButtonsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
}


#conatinerHomeOuter {
	margin-left: 120px;
}


#VideoRecorder {
	display: none;
	background-color: white;
	border-radius: px;
	box-shadow: 1px 0px 15px 0px black;
	padding: 20px;
	margin-left: 3%;
	margin-right: 4%;
}

#STLUploader {
	display: none;
	background-color: white;
	border-radius: 5px;
	box-shadow: 1px 0px 15px 0px black;
	padding: 20px;
	margin-left: 3%;
	margin-right: 4%;
}

#videoRecoderHeaderSTL{
	background-color: #FFC107;
	color: white;
	margin: 0 -20px;
	margin-top: -30px;
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	height: 55px;
	transform: translateY(10px);
}

#videoRecoderHeader {
	background-color: #28A745;
	color: white;
	margin: 0 -20px;
	margin-top: -30px;
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	height: 55px;
	transform: translateY(10px);
}

#VideoRecorderCenter {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

input[type="file"] {
    display: none;
}

#UploadVideo {
	transform: translateY(4px);
}

#mydiv {
  position: absolute;
  z-index: 9;
  width: 240px;
  background-color: white;
  text-align: center;
  left: 0;
  top:630px;
  box-shadow: 1px 0px 15px 0px black;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #003366;;
  color: white;
}

#sideBody{
	background-color: #C1CDCD;
	position: fixed;

	width: 240px;
	bottom: 0;
	transition: 0.8s;
}

#buttonShow{
	color: lightblue;
}
#buttonShow:hover{
	background-color: #003366;
	color: white;
}

#buttonSee{
	background-color: #003366;
	color: white;
}
#buttonSee:hover{
	background-color: white;
	color: #003366;
}

#profilePic{
	border: solid 5px white;
	border-radius: 360px;
	background-color: lightblue;
}
#logout:hover{

	background-color: #8a3636;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;

}


#logoutA:hover{
	color: white;
}

#logout{
	padding-left: 5px;
	padding-right: 5px;
}

#otherLi{
	padding-left: 5px;
	padding-right: 5px;
}


#sideBody{
	box-shadow: 1px 0px 15px 0px black;
	background-color: white;
	background-size:auto;
	background-attachment: fixed;
	position: fixed;
	z-index: 1;
	width: 240px;
	height: 100%;
	position: absolute;
}

#searchByName{
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: none;
}

#searchBySurname{
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: none;

}

#searchByPatientID{
	position: relative;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: none;
}



#sideBar{

	width:25%;
	position: fixed;
	top: 65px;
	background-color: #003366;
	max-width: 240px;
	min-width: 240px;
	min-height: 130px;
	max-height: 480px;
	/*z-index:1;
	display: inline-flex;*/
	padding: 10px;
	text-align: center;
	border-bottom: solid 20px lightblue;
	transform: translateY(45px);

}

#checkDoctor{
	background-color: #003366;
	color: white;
	padding: 20px;
}

canvas{
	width: 40%;
	height: 40%;
}

#carouselExampleIndicators{
	border: 1px solid;
}

#containInfo{
	margin-top: 0px;
	text-align:center;
	color: white;
	padding-top: 0px;
	font-size: 20px;
}

#para {
	color: white;
	font-size: 20px;
	text-align: left;
	font-stretch: extra-condensed;
}

.firstCard{
	position: relative;
	display: inline-block;
	width: 300px;
	text-align: center;
	background-color: #003366;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
	padding: 15px;
	box-shadow: 1px 0px 15px 0px black;
}

#viewLogin{
	cursor: pointer;
}

.custom-control-input:hover{
	color: lightblue;
	text-decoration: underline;
}

#container {
	animation: opacityForm 2s;
	position: relative;
	text-align: center;
	margin-top: 20px;
	padding: 20px;
	padding-top: 30px;
	box-shadow: 1px 0px 15px 0px black;
	background-color: #003366;
	margin-left: auto;
	margin-right: auto;
	max-width: 1240px;
	
}

.containerBlock{
	animation: opacityForm 2s;
	position: relative;
	text-align: center;
	padding: 20px;
	
}

#containerLogin {
	box-shadow: 1px 0px 15px 0px black;
	grid-template-columns: 1fr 1fr;
	animation: opacityForm 2s;

	position: relative;
	text-align: center;
	background-color: #003366;
	border-radius: 10px;

	margin-left: auto;
	margin-right: auto;

	width: 700px;
}

@media only screen and (width: 640px) {
    #logoContainer img {
    	width: 200px;
    }
}

#formSignup {
	text-align: center;
	background-color: #343a40;
	position: relative;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	animation: scaleForm 1s;
	animation: opacityForm 2s;
	box-shadow: 0 12px 12px -7px rgba(0,0,0,.9);

}

#formCheck {
	text-align: center;
	background-color: #343a40;
	position: relative;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	animation: scaleForm 1s;
	animation: opacityForm 2s;
	box-shadow: 0 12px 12px -7px rgba(0,0,0,.9);

}

#formForgotPassword {
	text-align: center;
	background-color: #343a40;
	position: relative;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	animation: scaleForm 1s;
	animation: opacityForm 2s;
	box-shadow: 0 12px 12px -7px rgba(0,0,0,.9);

}

#inputPlace {
	position: relative;
	display: block;
	margin: 0 auto;
}

#showHidden{
	border-radius: 0;
}

#selectDoc{
	border: none;
	display: inline-block;
	background-color: #003366;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 10px;
	transition: 0.5s;

}

#selectDoc:hover{
	background-color: lightgreen;
	border: none;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 10px;

}



#selectPatient{

	border: none;
	display: inline-block;
	background-color: #003366;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;
	transition: 0.5s;
}

#selectPatient:hover{
	background-color: lightgreen;
	border: none;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 10px;

}
/*animations*/
@keyframes opacityForm {
	0%{
		opacity: 0.0;
	}
	100%{
		opacity: 1.0;
	}

}

@keyframes scaleForm {
	0%{
		transform: scale(0.0,0.0);
		-webkit-transform: scale(0.0,0.0);
		opacity: 0.0;
	}
	100%{
		transform: scale(1.0,1.0);
		-webkit-transform: scale(1.0,1.0);
		opacity: 1.0;
	}

}



#calender{
	top: 50px;
	position: relative;
	margin-left: 0;
	margin-right: 0;
	text-align: center;
	z-index: 10;
	box-shadow: 0px 0px 15px 0px black;

}

.modal{

}

.close{
	color: white;
}

#quiteButton{
	
	color: white;
}

.modal-header{
	background-color: #003366;
	color: white;
}

.modal-footer{
	background-color: #003366;
	color: white;
}

#closeButton{
	color: white;
	background-color: #0275d8;
}

#closeButton:hover{
	color: white;
	background-color: lightblue;
}

#avatar1:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar2:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar3:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar4:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar5:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar6:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar7:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar8:hover{
	opacity: 0.9;
	background-color: #003366;
	border-radius: 360px;
	border: 5px solid white;
	box-shadow: 1px 0px 15px 0px black;
}

#avatar1, #avatar2, #avatar3, #avatar4,
#avatar5, #avatar6, #avatar7, #avatar8{
	border-radius: 360px;
	border: 5px solid white;
	background-color: lightblue;
}

.modal-body{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#renderModal{
	position: fixed;

	top: 40%;
}

#statusModal{
	position: fixed;
	top: 40%;
}

#statusModal .modal-body p{
	color: black;
}