/*class*/
.active{
	color: white;
}

.renderButton {
	position: relative;
	text-align: center;
}

.renderCenter {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.outputModule{
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.nav-link {
	color: blue;
	position: relative;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;

}

.nav-link1 {
	color: white;
}

.nav-link1:hover {
	color: lightblue;
	text-decoration: none;
}

.profile {
	position: relative;
	margin: 0px auto;
	text-align: center;
	margin-top: 10px;

}

.selectDocotor{
	margin-left: 30px;
	width: 200px;
	height: 300px;
	position: flex;
	margin: 0 auto;
	border-radius: 10px;
	background-color: lightblue;
}

.conatinerHome{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #C1CDCD;
	text-align: center;
	width: 45%;
	margin-top: 24px;
	border-radius: 10px;
	min-width: 405px;
	max-width: 540px;

}

.body{
	background-color: white;
	background-repeat:repeat-x;
	background-repeat: repeat-y;
	background-attachment: fixed;
	position: fixed;
	width: 100%;
	height: 100%;

	z-index: 3;

}

#sideBody{
	background-color: #C1CDCD;
	background-repeat:repeat-x;
	background-repeat: repeat-y;
	background-attachment: fixed;
	position: fixed;
	z-index: 1;
	width: 240px;
	height: 100%;
	transition: 0.8s;
}

.moveSideBar {
  transform: translateX(-240px);
}

/*elements*/
h2 {
	color: white;
}

nav{
	z-index: 2;
	background-color: #003366;
	margin-left: auto;
	margin-right: auto;
}
ul{
	position: inherit;
	margin-left: auto;
	margin-right: auto;

}

a:hover {
	cursor: pointer;
}

p {
	color: white;
}

hr{
	background-color: lightgray;
}

form {
	text-align: center;
	background-color: #343a40;
	position: relative;
	height: 400px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

image {
	width: 2em;
	height: 2em;
}

table {
	background-color: rgba(136,136,136,0.8);

}

td {
	color: white;
}

h1 {
	position: relative;
	text-align: center;
	margin: 0px auto;
	color: black;
}

body {

}
input {
	max-width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

/*IDs*/
#logout:hover{
	position: relative;
	background-color: #8a3636;
	border-radius: 10px;
	margin-right: 270px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;

}

#logoutA:hover{
	color: white;
}

#logout{
	padding-left: 5px;
	padding-right: 5px;
}

#otherLi{
	padding-left: 5px;
	padding-right: 5px;
}

#sideBar{
	width:25%;
	height: 100%;
	position: absolute;
	background-color: #343a40;
	max-width: 240px;
	min-width: 240px;
	min-height: 100px;
	max-height: 320px;
	z-index:1;
	display: inline-flex;
	padding: 10px;
	text-align: center;

}


#carouselExampleIndicators{
	border: 1px solid;
}

#containInfo{
	margin-top: 5px;
	text-align:center;

}

#para {
	color: black;
}

#viewLogin{
	cursor: pointer;
}

#container {
	animation: opacityForm 2s;
}

#formSignup {
	text-align: center;
	background-color: #343a40;
	position: relative;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	animation: scaleForm 1s;
	animation: opacityForm 2s;
	box-shadow: 0 12px 12px -7px rgba(0,0,0,.9);

}

#formCheck {
	text-align: center;
	background-color: #343a40;
	position: relative;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	animation: scaleForm 1s;
	animation: opacityForm 2s;
	box-shadow: 0 12px 12px -7px rgba(0,0,0,.9);

}

#formForgotPassword {
	text-align: center;
	background-color: #343a40;
	position: relative;
	width: 300px;
	padding: 5px;
	margin: 0 auto;
	border-radius: 5px;
	animation: scaleForm 1s;
	animation: opacityForm 2s;
	box-shadow: 0 12px 12px -7px rgba(0,0,0,.9);

}

#inputPlace {
	position: relative;
	display: block;
	margin: 0 auto;
}

#showHidden{
	border-radius: 0;
}


/*animations*/
@keyframes opacityForm {
	0%{
		opacity: 0.0;
	}
	100%{
		opacity: 1.0;
	}

}

@keyframes scaleForm {
	0%{
		transform: scale(0.0,0.0);
		-webkit-transform: scale(0.0,0.0);
		opacity: 0.0;
	}
	100%{
		transform: scale(1.0,1.0);
		-webkit-transform: scale(1.0,1.0);
		opacity: 1.0;
	}

}

/*@keyframes moveSideBar {
	0% {
		transform: translateX(0px);
	}
	100% {
		transform: translateX(-240px);
	}
}*/

.doctor-btn {
	position: relative;
	display: inline-block;

  width: 200px;
  margin: 0px;
	background-color: #003366;

}

#selectDoc{
	border: none;
	display: inline-block;
	background-color: #292b2c;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;

}

#selectDoc:hover{
	background-color: #d8e6ad;
	border: none;
	border-radius: 10px;
	box-shadow: 9px 0 15px -3px rgba(136,136,136,0.8);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	color: #292b2c;
}


#selectPatient{

	border: none;
	display: inline-block;
	background-color: #292b2c;
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;

}

#selectPatient:hover{
	background-color: #d8e6ad;
	border: none;
	box-shadow: 9px 0 15px -3px rgba(136,136,136,0.8);
	border-radius: 10px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	color: #292b2c;
}

.centerContainer{

}
.doctor-list {
  margin: 0;
  max-width: 250px;
  !important;
}

.abv-txt {
	color: white;
  width: 55px;
  max-width: 55px;
  !important;
}
